@import "reset";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
}

#subscribers {
  width: 1000px;
  height: 1000px;
  border: 2px solid grey;
  position: relative;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 10px,
      #f6f6f6 5px,
      #f6f6f6 5px
  );
  div {
    width: 50px;
    height: 50px;
    border: 1px solid #dedede;
    position: absolute;
    transition: all 0.5s ease;
  }
}

#buttons {
  display: flex;
  align-content: space-around;
  > button {
    flex: 1;
  }
}