@import "reset";

html, body {
  height: 100%;
  margin: 0;
}

#observers {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  div {
    display: flex;
    flex-basis: calc(50% - 80px);
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dedede;
    margin: 20px;
    align-items: center;
    * {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    p {
      flex-grow: 1;
      align-items: center;
    }
    input {
      flex-shrink: 1;
      height: 30px;
      width: 30px;
    }
  }
}


.grid2x2 {
}
.grid2x2 > div {
}
.grid2x2 > div > div {
}
